<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Student Portal Login &amp; Registration</title>

<!-- CSS -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
<link rel="stylesheet"
	href="../static/plugins/bootstrap/css/bootstrap.min.css"
	th:href="@{plugins/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="../static/plugins/fontawesome/css/font-awesome.min.css"
	th:href="@{/plugins/fontawesome/css/font-awesome.min.css}" />
<link rel="stylesheet" href="../static/css/form-elements.css"
	th:href="@{/css/form-elements.css}" />
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

<!-- Favicon and touch icons -->
<!-- <link rel="shortcut icon" href="assets/ico/favicon.png"/> -->
</head>
<body>
	<img id="bg" src="../static/images/1.jpg" th:src="@{images/1.jpg}" />
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1>
			<strong><a class="navbar-brand" href="#">Student Portal</a></strong>
		 </h1>
							
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form role="form" action="/login" method="post" class="login-form navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-username form-control" name="username" id="username"/>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-password form-control" name="password" id="password" />
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    
	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text" id="infoMsg">
						<div th:if="${param.error}" class="alert alert-danger">
							<p>
								<strong>Invalid username and password.</strong>
							</p>
						</div>
						<div th:if="${param.logout}" class="alert alert-success">
							<p>
								<strong>You have been logged out successfully.</strong>
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-7">
					
					</div>

					<div class="col-sm-5" id="regForm">
						<div class="form-box">
							<div class="form-top">
								<div class="form-top-left">
									<h3>
										<strong>Sign up now</strong>
									</h3>
									<p>Fill in the form to get instant access.</p>
								</div>
								<div class="form-top-right">
									<i class="fa fa-pencil"></i>
								</div>
							</div>
							<div class="form-bottom">
								<form role="form" action="/register" method="post"
									class="registration-form">
									<div class="form-group">
										<label class="sr-only" for="form-first-name">First
											name</label> <input type="text" name="firstname"
											placeholder="First name..."
											class="form-first-name form-control" id="firstname" />
									</div>
									<!-- <div class="form-group">
										<label class="sr-only" for="form-last-name">Last name</label>
										<input type="text" name="lastname" placeholder="Last name..."
											class="form-last-name form-control" id="lastname" />
									</div> -->
									<div class="form-group">
										<label class="sr-only" for="form-email">Email</label> <input
											type="text" name="email" placeholder="Email..."
											class="form-email form-control" id="email" />
									</div>
									<div class="form-group">
										<label class="sr-only" for="form-last-name">Username</label> <input
											type="text" name="username" placeholder="UserName..."
											class="form-last-name form-control" id="username" />
									</div>
									<button type="submit" class="btn">Sign me up!</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="footer-border"></div>
					<p>
						Made by <strong>code premier</strong> <i class="fa fa-copyright"></i>
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="../static/js/jquery-2.2.4.min.js"
		th:src="@{js/jquery-2.2.4.min.js}"></script>
	<script src="../static/plugins/bootstrap/js/bootstrap.min.js"
		th:src="@{plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script src="../static/js/jquery.backstretch.min.js"
		th:src="@{js/jquery.backstretch.min.js}"></script>
	<script src="../static/js/scripts.js" th:src="@{js/scripts.js}"></script>
	
	<!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
    <![endif]-->
    

</body>
</html>